
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.logout{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.navlinks{
    display: flex;
    justify-content: space-between;
    border: 5px dashed red;
}

