<!DOCTYPE html>
{%extends 'base.html'%}{% block content%}
{% load static %}


<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'home.css' %}">
    <title>Contact App</title>
</head>

<body>
    <div class="column-left"></div>


    <div class="column-center">
        <div>
            <h1>Home</h1>
            <p>Welcome, {{request.user.first_name|title}}, you have {% if count > 1 %}{{count}}  contacts.{% elif count == 0 %} no contacts.{% else %}{{count}}  contact.{% endif %}</p>
        </div>

        <div class="contacts">

            {% for contact in contacts %}
                <div class="contact" ><a href="{% url 'contactpage' contact.id  %}">
                    <div class="inner-contact">
                        <div class="circle">{{ contact.first_name.0|title }}</div>
                        {{contact.first_name|title}}
                        {{contact.last_name|title}}
                    </div>
                </a>
                </div>
            {% endfor %}
        </div>
    </div>


    <div class="column-right"></div>
</body>

{% endblock content %}
</html>